body {
    margin: 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#note {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right:0;
    background: rgb(41, 173, 140);
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
}
#note.pushed {
    margin-top: 5px
}
.mainImage {
    max-width: 100%;
}
.logo {
     position: absolute;
     top: 5%;
     left: 90%;
 }
.title {
    width: 100%;
    color: white;
    font-size: 100px;
    text-align: center;
    margin: 0%;
    padding: 5px;
    position: absolute;
    top: 70%;
    left: 10%;
    text-shadow: 10px 10px 2px rgb(56, 19, 19), 10px 10px 2px rgb(56, 19, 19), 10px 10px 2px rgb(56, 19, 19);
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}

.cssanimations.csstransforms #note {
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}

.cssanimations.csstransforms #close {
    display: none;
  }
.nameContainer {
    padding: 5% 20%;
    width: 1500px
}

.ranking {
    font-size: 70px;
    padding: 20px
}

.nav {

    font-size: 60px;
    float:right;
    margin: 2%
}
.button {
    padding: 20px;
    font-size: 50px;
    float: right;
   display: flex;
}

/* view page */

.restaurant {
   margin: auto;
   width: 50%;
}

.img-circle {
    border-radius: 50%;
    object-fit: cover;
    width: 50%;
    height: 300px;
    padding: 5% 25%;
  }

h2 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px #ffd900, 2px 2px #ffd900,2px 2px #ffd900;
}
.writing{
    font-size: 30px;
    padding: 2% 0%
}
.annImage {
    background-repeat: no-repeat;
    background-attachment: fixed;
}